<html>
<head>
	<title>Hello Friend!!</title>
</head>
	<body>
		<h1>HELLO MY NAME IS: <?php echo $_SERVER['SERVER_NAME']; ?></h1>
		<h1>YOUR ADDRESS IS: <?php  echo $_SERVER['REMOTE_ADDR']; ?></h1>
		<h1>I CAN SHOW YOU INCREDIBLE THINGS!</h1>
		<p></p>
		<br />
		<p>phpinfo:</p>
		<?php
			phpinfo();
		?>
	</body>	
</html>
