                  This system is managed by Ansible.
     _    _ _  __   __                 ____                                
    / \  | | | \ \ / /__  _   _ _ __  | __ )  __ _ ___  ___                
   / _ \ | | |  \ V / _ \| | | | '__| |  _ \ / _` / __|/ _ \               
  / ___ \| | |   | | (_) | |_| | |    | |_) | (_| \__ \  __/               
 /_/ _ \_\_|_|   |_|\___/ \__,_|_|    |____/ \__,_|___/\___|     _   _     
    / \   _ __ ___  | __ )  ___| | ___  _ __   __ _  | |_ ___   | | | |___ 
   / _ \ | '__/ _ \ |  _ \ / _ \ |/ _ \| '_ \ / _` | | __/ _ \  | | | / __|
  / ___ \| | |  __/ | |_) |  __/ | (_) | | | | (_| | | || (_) | | |_| \__ \
 /_/   \_\_|  \___| |____/ \___|_|\___/|_| |_|\__, |  \__\___/   \___/|___/
                                              |___/                        

  OS          : {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_distribution_release }})
  Hostname    : {{ ansible_hostname }}
  IP address  : {{ ansible_eth0.ipv4.address }}
  System type : {{ ansible_system }}
  Virt type   : {{ ansible_virtualization_type }}
  